/*para dar formato a la pagina que se esta creando*/
body{
    margin: 0;
    text-align: center;
}
nav{
    background-color: #3C7BF4;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 32px;
}

p{
    margin: 0;
}

input{
    background-color: #D9D9D9;
    height: 47px;
    width: 415px;
    margin-top: 48px;
    padding-left: 22px;


}

form{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 285px;
    height: 53px;
    margin-top: 48px;
    background-color: #61B0F9;
}

.title-nav{
    color: white;
    font-size: 36px;
}

.subtitle{
    font-size: 21px;
    margin-top: 60px;
}